@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-size: 12px;
  }

  * {
    margin: 0;
    box-sizing: border-box;
  }

  .pointer {
    cursor: pointer;
  }
  .error {
    cursor:not-allowed
  }

  .lobby, .result {
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    transition: all 0.4s ease;
  }

  @media (min-width: 576px) {
    html {
      font-size: 16px;
    }

  }
  
}