@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-size: 12px;
  }

  * {
    margin: 0;
    box-sizing: border-box;
  }

  @media (min-width: 576px) {
    html {
      font-size: 16px;
    }
  }
  
}